[
{% for rule in fw_rule_request_list %}
{% for src in rule.src %}
{
"tenant": "{{ rule.tenant }}",
"filter": "{{ rule.filter }}",
"src": "{{ src }}",
"dst": {{ rule.dst }},
"proto": "{{ rule.proto }}",
"ports": {{ rule.ports }}
},
{% endfor %}
{% endfor %}
]
